!!!
%html
  %head
    %title You, sir, are a womanizer!
    %link{ :href => '/stylesheets/base.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen' }
    %link{ :href => '/stylesheets/admin.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen' }
  %body
    %h1
      Wmnizr.
    = yield
    %script{ :language => "Javascript", :src => '/javascript/jquery.min.js' }
    %script{ :language => "Javascript", :src => '/javascript/admin-main.js' }
