%form{ :class => 'post', :action => action, :method => "post" }
  .text
    %label{ :for => 'title' } Title
    %input{ :type => 'text', :name => 'post[title]', :id => 'title', :value => post.title }

  .text
    %label{ :for => 'site' } Site
    %input{ :type => 'text', :name => 'post[site]', :id => 'site', :value => post.site }

  .checkbox
    %label{ :for => 'published' } Published
    %input{ :type => 'checkbox', :name => 'post[published]', :id => 'title', :value => post.published? }

  .content
    %label{ :for => 'text' } Content
    %textarea{ :name => 'post[text]', :id => 'text' }= post.text

  .buttons
    %input{ :type => 'submit', :value => 'Create' }
