%ul.posts
  - @posts.each do |post|
    = haml :"#{@hostname}/post", :locals => { :post => post }
#paging
  - if @page < @total_pages
    %a{ :href => "/pages/#{@page+1}" } Older stuff
  
  - if @page > 0 
    %a{ :href => "/pages/#{@page-1}" } Newer stuff
