%li
  %h2
    %a{ :href => @site.url_for_post(post) }= post.title
  %span.posted_on
    posted on the day europeans know as
    %span.date= post.published_at.strftime("%d.%m.%Y")
  .content
    = preserve post.rendered_text
